{{ template "layout" .}}

{{ define "main" }}
    <div class="box">
        <!-- dengan map -->
        <!-- Product with id : {/{/ .id /}/} -->

        <!-- dengan struct -->
        <!-- <p> /{/{ .ID }} </p>
        <p> /{/{ .Name }} </p>
        <p> /{/{ .Price }} </p>
        <p> /{/{ .Stock }} </p> -->

        <!-- dengan list -->
        {{ range . }}
            <div class="box-with-shadow">
                {{ .Name }} - {{ .Price }} - {{ .StockStatus }}
            </div>
                <!-- dengan action view -->
                <!-- /{/{ if lt .Stock 3 }}
                    Meh entek
                /{/{ end }} -->
        {{ end }}
    </div>
{{ end }}