{{ template "layout" .}}

{{ define "main" }}
    <div class="box">
        <!-- dengan map -->
        <!-- Product with id : {/{/ .id /}/} -->

        <!-- dengan struct -->
        <!-- <p> /{/{ .ID }} </p>
        <p> /{/{ .Name }} </p>
        <p> /{/{ .Price }} </p>
        <p> /{/{ .Stock }} </p> -->

        <!-- dengan list -->
        {{ range . }}
            <p>
                {{ .Name }} - {{ .Price }} - {{ .StockStatus }}
                <!-- dengan action view -->
                <!-- /{/{ if lt .Stock 3 }}
                    Meh entek
                /{/{ end }} -->
            </p>
        {{ end }}
    </div>
{{ end }}